.aus-continens-secundo {
  background-color: $orange;
}
.aus-button {
  max-width: 10rem;
  min-width: 7rem;
}
.aus-h2-black {
  color: $black;
  font-weight: 600;
}
.aus-h2-white {
  color: $white;
  font-weight: 600;
}
