.header-addb {
  font-weight: 500;
  color: $orange !important;
}

.header-user-info {
  background: $black;
  color: $orange !important;
  & nav {
    color: $orange;
  }
}

.header-avatar {
  background: $white;
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;
  border: 0.15rem solid $orange;
  border-radius: 50%;
}
.dropdown-btn-menu {
  border: 0.15rem solid $white;
  border-radius: 10%;
}
