.servicess-card-img {
  background: $black-color;
  border-radius: 50%;
  padding: 1rem;
  width: 5.5rem;
  height: 5.5rem;
}
.servicess-card-title {
  font-size: 1rem;
  font-weight: 600;
}

.servicess-card-text {
  font-size: 0.85rem;
  color: $orange-color;
}
.servicess-card-link {
  text-decoration: none;
  color: $black-color;
  &:hover {
    color: $orange-color;
  }
}
