.sl-card-img {
  background: black;
  border: 0.1rem solid $white;
  border-radius: 50%;
  padding: 0.4rem;
  width: 3rem;
  height: 3rem;
}
.sl-card-img-orange {
  background: $orange;
  border: 0.1rem solid $white;
  border-radius: 50%;
  padding: 0.4rem;
  width: 3rem;
  height: 3rem;
}
.ser-card {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $orange;
  }
}
.sc-image {
  width: auto;
  max-height: 10rem;
}

.sc-card {
  background-color: $white;
  height: 25rem;
}
.sc-card-list {
  background-color: $white;
}

.bd-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.bd-text {
  font-size: 1.1rem;
  font-weight: 400;
}
.slt-img-b {
  height: 3.4rem;
  width: 3.4rem;
  border: 0.15rem solid $white;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: transparent;
  &:hover {
    background-color: $orange;
  }
}
.slt-img-w {
  height: 3.4rem;
  width: 3.4rem;
  border: 0.15rem solid $white;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: $white;
}
// animation
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
