.subsribe-input {
  border: none;
  background: transparent;
  border-bottom: 1px solid $white-color;
  border-radius: 0;
}
.subscribe-label {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.subscribe-checkbox {
  margin-top: 1rem;
}
