.top-main {
  background-image: url("../assets/topbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-clip: content-box;
}
.top-label {
  margin-top: 3.5rem;
  width: 100%;
  text-align: center;
  color: $orange;
  font-size: 2rem;
  font-weight: 600;
}
